body {
  margin: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
  font-family: "Markazi Text", serif;
}

.MuiTabs-root {
  display: block !important;
}

::placeholder,
.MuiInputLabel-animated {
  opacity: 0.7 !important;
  font-weight: bold !important;
}

.MuiInputLabel-animated {
  font-size: 120% !important;
  color: black !important;
}

.MuiPaper-elevation4 {
  box-shadow: 0 0 !important;
}

a {
  text-decoration: none;
}

.MuiBreadcrumbs-li:hover {
  text-decoration: underline;
}

.App-logo:hover {
  transform: scale(1.1);
}

.MuiButton-containedPrimary, .MuiPaper-root, .MuiTypography-displayBlock {
  font-family: 'Markazi Text', serif !important;
  word-spacing: 2px;
}

.MuiIconButton-label {
  transition: transform 0.2s;
}

.MuiInputBase-input {
  font-weight: bold !important;
}

.MuiIconButton-label:hover {
  transform: scale(1.1);
}

.MuiSvgIcon-root {
  font-size: 1.3em !important;
}

@media screen and (max-width: 480px) {
  .MuiBreadcrumbs-separator {
    display: none !important;
  }
}

.Mui-selected {
  height: 79% !important;
}

.hr {
  margin-bottom: 4px;
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.content {
  line-height: 2;
  font-size: 130%;
  word-spacing: 4px;
}

.eDate{
  color: gray;
  margin-top: -20px;
}

.update {
  display: grid;
  height: 60vh;
  width: 30vw;
  padding: 2vh;
}

.space-theme {
  margin: 0;
  background: url("https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  font-family: "Markazi Text", serif;
}

.font{
  color: whitesmoke;
}