body {
  margin: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
  font-family: 'Markazi Text', serif;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.MuiTabs-root {
  display: block !important;
}

::placeholder, .MuiInputLabel-animated {
  opacity: 0.7 !important;
  font-weight: bold !important;
}

.MuiInputLabel-animated {
  font-size: 120% !important;
  color: black !important;
}

.MuiPaper-elevation4 {
  box-shadow: 0 0 !important;
}

a {
  text-decoration: none;
}

.MuiBreadcrumbs-li:hover {
  text-decoration: underline;
}

.App-logo:hover {
  transform: scale(1.1);
}

.MuiButton-containedPrimary, .MuiPaper-root, .MuiTypography-displayBlock {
  font-family: 'Markazi Text', serif !important;
  word-spacing: 2px;
}

.MuiIconButton-label {
  transition: transform 0.2s;
}

.MuiInputBase-input {
  font-weight: bold !important;
}

.MuiIconButton-label:hover {
  transform: scale(1.1);
}

.MuiSvgIcon-root {
  font-size: 1.3em !important;
}

@media screen and (max-width: 480px) {
  .MuiBreadcrumbs-separator {
    display: none !important;
  }
}

.content {
  width: 100%;
  max-width: 100vh;
  line-height: 2;
  font-size: 130%;
  word-spacing: 4px;
}

.Mui-selected {
  height: 79% !important;
}