.news_header {
    background-color: #283039;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    top: -40.5px;
    position: relative;
    word-spacing: 4px;
    box-shadow: 2px 2px 11px black;
}

.news_container {
    width: 270px;
    height: 460px;
    position: fixed;
    top: 475px;
    left: 50%;
    transform: translate(-310%, -50%);
    box-sizing: border-box;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-width: 2px;
    border-color: #e8e8e8;
    box-shadow: 2px 2px 9px black;
}

.marquee_content {
    position: relative;
    animation: marquee 15s linear infinite;
    line-height: 1.6;
}

.marquee_content:hover {
    animation-play-state: paused;
}

.marquee {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    height: 100%;
    top: -39px;
    position: relative;
}

@keyframes marquee {
    0%   { top:   460px }
    100% { top: -460px }
}

.marq_font .marquee {
	margin: 0;
    padding: 0 1em;
    line-height: 1.5em;
    font: 1em 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
}

.marq_font:before, .marq_font::before, .marq_font:after,  .marq_font::after {
    left: 0;
    z-index: 1;
    content: '';
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 2em;
    background-image: linear-gradient(180deg, #ccc, rgba(255,255,255,0));
}

.marq_font:after, .marq_font::after {
    bottom: 0;
    transform: rotate(180deg);
}

.marq_font:before, .marq_font::before {
    top: 0;
}

/*
.vanity {
    color: #333;
    text-align: center;
    font: .75em 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
}
*/

/*.vanity a, */
.marq_font a {
    color: #1570A6;
    transition: color .5s;
    text-decoration: none;
}

/*.vanity a:hover, */
.marq_font a:hover {
    color: #F65314;
}

.feedItem {
    width: 90%;
    height: 20vh;
    margin: auto auto 15px auto;
    background-color: #f5f3f3;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 23px, rgba(255, 255, 255, 0.5) 4px, rgba(255, 255, 255, 0.5) 40px);
    top: 15px;
    border-radius: 4px;
    position: relative;
}

.header {
    height: 4vh;
    background: #7baa49;
    position: absolute;
    right: -10px;
    text-align: -webkit-right;
    top: -5px;
    border-radius: 4px;
    line-height: 4vh;
    width: 75%;
    text-transform: capitalize;
    color: white;
    font-size: 2vh;
    padding-left: 5px;
    font-family: monospace;
    vertical-align: unset;
}

.feedItem img {
    height: 13vh;
    width: 13vh;
    position: absolute;
    right: 20px;
    border-radius: 4px;
    bottom: 10px;
}

.content2 {
    position: absolute;
    width: 55vw;
    background: white;
    left: 2vw;
    bottom: 8px;
    padding: 1vh;
    font-size: 1.9vh;
    box-sizing: content-box;
    overflow: auto;
    text-align: justify;
    height: 11vh;
    border-radius: 4px;
    border: 1px solid #e4e8e9;
    color: #55717e;
    font-family: sans-serif;
    line-height: 1.5;
}

.tpaisSticky{
    font-size: 0.8em;
    font-family: Impact;
    color: yellow;
    background-color: #2d3940;
    font-style: italic;
    font-variant: small-caps;
    margin-top: 40px;
    text-align: center;
}

.subTitle{
    color: rgb(226, 13, 13);
}

.spaceSticky{
    font-size: 0.8em;
    font-family: Impact;
    color: #80403d;
    background-color:#cfcad8;
    font-style: italic;
    font-variant: small-caps;
    margin-top: 40px;
    text-align: center;
}

.spaceHeader{
    height: 4vh;
    background: #25a5f0;
    position: absolute;
    right: -10px;
    text-align: -webkit-right;
    top: -5px;
    border-radius: 4px;
    line-height: 4vh;
    width: 75%;
    text-transform: capitalize;
    color: white;
    font-size: 2vh;
    padding-left: 5px;
    font-family: monospace;
    vertical-align: unset;
}