@import "~react-image-gallery/styles/css/image-gallery.css";
body {
  margin: 0;
  background-color: whitesmoke  !important;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.MuiPaper-elevation4 {
  box-shadow: 0 0 !important;
}

.MuiBreadcrumbs-li:hover {
  text-decoration: underline;
}

.App-logo:hover {
  transform: scale(1.1);
}

.MuiPaper-root, .MuiTypography-displayBlock {
  font-family: 'Tajawal', sans-serif !important;
}

.MuiIconButton-label {
  transition: transform 0.2s;
}

.MuiIconButton-label:hover {
  transform: scale(1.1);
}

.MuiSvgIcon-root {
  font-size: 1.3em !important;
}

@media screen and (max-width: 480px) {
  .MuiBreadcrumbs-separator {
    display: none !important;
  }
}